.square {
    float: left;
    width: 30%;
    height: 0%;
    padding-bottom: 30%;
    background: red;
    margin: 5px;
    border-radius: 20px;
}

.container {
    width: 600px;
    margin: 0 auto;
}

body {
    background-color: #232323;
}

h1 {
    color: white;
    text-align: center;
}

#message {
    color: white;
}

.selected {
    outline: none;
    color: red;
    background: black;

}

#stripe {
    text-align: center;
}

#rgb {
    color: white;
    padding: 40px;
    background-color: #4682b4
}